--
-- PostgreSQL database dump
--

\restrict ozDRbw8RTaMmmtZn4TeINtbxFiDFBpeV2mjyorDopj3PwdVRxuXHJLC5TIbpreN

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cars; Type: TABLE; Schema: public; Owner: autoXAK_user
--

CREATE TABLE public.cars (
    id character varying(64) NOT NULL,
    brand character varying(64) NOT NULL,
    model character varying(64) NOT NULL,
    engine_type character varying(32) NOT NULL,
    engine_displacement_l double precision NOT NULL,
    base_oil_hours double precision NOT NULL
);


ALTER TABLE public.cars OWNER TO "autoXAK_user";

--
-- Name: cpa_leads; Type: TABLE; Schema: public; Owner: autoXAK_user
--

CREATE TABLE public.cpa_leads (
    id character varying NOT NULL,
    user_id character varying,
    car_id character varying NOT NULL,
    partner_id character varying DEFAULT 'autodoc_partner_01'::character varying,
    promo_code character varying NOT NULL,
    discount_rub double precision DEFAULT 500.0,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.cpa_leads OWNER TO "autoXAK_user";

--
-- Name: fuel_regional_prices; Type: TABLE; Schema: public; Owner: autoXAK_user
--

CREATE TABLE public.fuel_regional_prices (
    id character varying(64) NOT NULL,
    region_code character varying(10) NOT NULL,
    region_name character varying(100) NOT NULL,
    brand character varying(50) NOT NULL,
    brand_display_name character varying(100) NOT NULL,
    price_ai92 double precision NOT NULL,
    price_ai95 double precision NOT NULL,
    price_ai100 double precision NOT NULL,
    price_dt double precision NOT NULL,
    availability_status character varying(30),
    updated_at timestamp with time zone
);


ALTER TABLE public.fuel_regional_prices OWNER TO "autoXAK_user";

--
-- Name: telemetry_points; Type: TABLE; Schema: public; Owner: autoXAK_user
--

CREATE TABLE public.telemetry_points (
    id bigint NOT NULL,
    "time" timestamp with time zone NOT NULL,
    session_id character varying(64) NOT NULL,
    ax_mps2 real NOT NULL,
    ay_mps2 real NOT NULL,
    az_mps2 real NOT NULL,
    speed_mps real NOT NULL
);


ALTER TABLE public.telemetry_points OWNER TO "autoXAK_user";

--
-- Name: telemetry_points_id_seq; Type: SEQUENCE; Schema: public; Owner: autoXAK_user
--

CREATE SEQUENCE public.telemetry_points_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_points_id_seq OWNER TO "autoXAK_user";

--
-- Name: telemetry_points_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: autoXAK_user
--

ALTER SEQUENCE public.telemetry_points_id_seq OWNED BY public.telemetry_points.id;


--
-- Name: trips; Type: TABLE; Schema: public; Owner: autoXAK_user
--

CREATE TABLE public.trips (
    id character varying(64) NOT NULL,
    user_id character varying(64) NOT NULL,
    car_id character varying(64) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    duration_seconds double precision NOT NULL,
    distance_km double precision NOT NULL,
    equivalent_engine_hours double precision NOT NULL,
    oil_wear_percent double precision NOT NULL,
    idle_ratio double precision NOT NULL,
    fuel_saved_rub double precision NOT NULL,
    oil_saved_rub double precision NOT NULL,
    total_savings_rub double precision NOT NULL
);


ALTER TABLE public.trips OWNER TO "autoXAK_user";

--
-- Name: users; Type: TABLE; Schema: public; Owner: autoXAK_user
--

CREATE TABLE public.users (
    id character varying(64) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    total_savings_rub double precision NOT NULL,
    current_oil_wear_percent double precision NOT NULL,
    car_id character varying DEFAULT 'haval_jolion_15t'::character varying,
    fuel_price_rub double precision DEFAULT 62.0,
    service_cost_rub double precision DEFAULT 9500.0
);


ALTER TABLE public.users OWNER TO "autoXAK_user";

--
-- Name: validation_runs; Type: TABLE; Schema: public; Owner: autoXAK_user
--

CREATE TABLE public.validation_runs (
    run_id uuid NOT NULL,
    cohort_name character varying(64) NOT NULL,
    evaluated_at timestamp with time zone DEFAULT now() NOT NULL,
    sample_size integer NOT NULL,
    mape_percent double precision NOT NULL,
    rmse_hours double precision NOT NULL,
    pearson_r double precision NOT NULL,
    p_value double precision NOT NULL,
    hypothesis_status character varying(32) NOT NULL
);


ALTER TABLE public.validation_runs OWNER TO "autoXAK_user";

--
-- Name: vehicle_makes; Type: TABLE; Schema: public; Owner: autoXAK_user
--

CREATE TABLE public.vehicle_makes (
    id character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    country character varying(50)
);


ALTER TABLE public.vehicle_makes OWNER TO "autoXAK_user";

--
-- Name: vehicle_models; Type: TABLE; Schema: public; Owner: autoXAK_user
--

CREATE TABLE public.vehicle_models (
    id character varying(80) NOT NULL,
    make_id character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    body_type character varying(50) NOT NULL
);


ALTER TABLE public.vehicle_models OWNER TO "autoXAK_user";

--
-- Name: vehicle_profiles; Type: TABLE; Schema: public; Owner: autoXAK_user
--

CREATE TABLE public.vehicle_profiles (
    car_id character varying(64) NOT NULL,
    brand character varying(32) NOT NULL,
    model character varying(32) NOT NULL,
    curb_weight_kg double precision NOT NULL,
    drag_coefficient_area double precision NOT NULL,
    rolling_resistance_coeff double precision DEFAULT 0.0135 NOT NULL,
    drivetrain_efficiency double precision DEFAULT 0.90 NOT NULL,
    engine_displacement_l double precision NOT NULL,
    rated_power_kw double precision NOT NULL,
    idle_rpm double precision DEFAULT 800.0 NOT NULL,
    oil_capacity_l double precision NOT NULL,
    oil_grade character varying(16) DEFAULT '5W-30'::character varying NOT NULL,
    base_activation_energy_jmol double precision DEFAULT 106170.0 NOT NULL,
    nominal_service_hours double precision DEFAULT 250.0 NOT NULL
);


ALTER TABLE public.vehicle_profiles OWNER TO "autoXAK_user";

--
-- Name: vehicle_trims; Type: TABLE; Schema: public; Owner: autoXAK_user
--

CREATE TABLE public.vehicle_trims (
    id character varying(100) NOT NULL,
    model_id character varying(80) NOT NULL,
    badge_name character varying(120) NOT NULL,
    curb_weight_kg double precision NOT NULL,
    drag_coefficient_area double precision NOT NULL,
    rolling_resistance_coeff double precision,
    drivetrain_efficiency double precision,
    engine_displacement_l double precision NOT NULL,
    rated_power_kw double precision NOT NULL,
    drivetrain_type character varying(20),
    transmission_type character varying(20),
    oil_capacity_l double precision NOT NULL,
    oil_grade character varying(20) NOT NULL,
    oil_spec character varying(50) NOT NULL,
    recommended_oil_brand character varying(100),
    nominal_service_hours double precision
);


ALTER TABLE public.vehicle_trims OWNER TO "autoXAK_user";

--
-- Name: telemetry_points id; Type: DEFAULT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.telemetry_points ALTER COLUMN id SET DEFAULT nextval('public.telemetry_points_id_seq'::regclass);


--
-- Data for Name: cars; Type: TABLE DATA; Schema: public; Owner: autoXAK_user
--

COPY public.cars (id, brand, model, engine_type, engine_displacement_l, base_oil_hours) FROM stdin;
\.


--
-- Data for Name: cpa_leads; Type: TABLE DATA; Schema: public; Owner: autoXAK_user
--



--
-- Data for Name: fuel_regional_prices; Type: TABLE DATA; Schema: public; Owner: autoXAK_user
--



--
-- Data for Name: telemetry_points; Type: TABLE DATA; Schema: public; Owner: autoXAK_user
--

COPY public.telemetry_points (id, "time", session_id, ax_mps2, ay_mps2, az_mps2, speed_mps) FROM stdin;
\.


--
-- Data for Name: trips; Type: TABLE DATA; Schema: public; Owner: autoXAK_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: autoXAK_user
--



--
-- Data for Name: validation_runs; Type: TABLE DATA; Schema: public; Owner: autoXAK_user
--

COPY public.validation_runs (run_id, cohort_name, evaluated_at, sample_size, mape_percent, rmse_hours, pearson_r, p_value, hypothesis_status) FROM stdin;
\.


--
-- Data for Name: vehicle_makes; Type: TABLE DATA; Schema: public; Owner: autoXAK_user
--

COPY public.vehicle_makes (id, name, country) FROM stdin;
haval	Haval	China
skoda	Skoda	Czech Republic
geely	Geely	China
lada	LADA	Russia
chery	Chery	China
\.


--
-- Data for Name: vehicle_models; Type: TABLE DATA; Schema: public; Owner: autoXAK_user
--

COPY public.vehicle_models (id, make_id, name, body_type) FROM stdin;
haval_jolion	haval	Jolion	crossover
skoda_octavia	skoda	Octavia	liftback
geely_coolray	geely	Coolray	crossover
lada_vesta	lada	Vesta NG	sedan
chery_tiggo_7pro	chery	Tiggo 7 Pro Max	crossover
\.


--
-- Data for Name: vehicle_profiles; Type: TABLE DATA; Schema: public; Owner: autoXAK_user
--

COPY public.vehicle_profiles (car_id, brand, model, curb_weight_kg, drag_coefficient_area, rolling_resistance_coeff, drivetrain_efficiency, engine_displacement_l, rated_power_kw, idle_rpm, oil_capacity_l, oil_grade, base_activation_energy_jmol, nominal_service_hours) FROM stdin;
haval_jolion_15t	Haval	Jolion 1.5T 4WD	1505	0.7616	0.0135	0.9	1.5	110	800	3.8	5W-30	106170	250
chery_tiggo7_15t	Chery	Tiggo 7 Pro 1.5T	1540	0.7986	0.0135	0.9	1.5	108	800	4.1	5W-30	106170	250
test_car_vag_2.0tsi	Volkswagen	Tiguan 2.0 TSI	1650	0.78	0.0135	0.9	2	132	800	5.7	5W-30	106170	250
\.


--
-- Data for Name: vehicle_trims; Type: TABLE DATA; Schema: public; Owner: autoXAK_user
--



--
-- Name: telemetry_points_id_seq; Type: SEQUENCE SET; Schema: public; Owner: autoXAK_user
--

SELECT pg_catalog.setval('public.telemetry_points_id_seq', 1, false);


--
-- Name: cars cars_pkey; Type: CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.cars
    ADD CONSTRAINT cars_pkey PRIMARY KEY (id);


--
-- Name: cpa_leads cpa_leads_pkey; Type: CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.cpa_leads
    ADD CONSTRAINT cpa_leads_pkey PRIMARY KEY (id);


--
-- Name: fuel_regional_prices fuel_regional_prices_pkey; Type: CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.fuel_regional_prices
    ADD CONSTRAINT fuel_regional_prices_pkey PRIMARY KEY (id);


--
-- Name: trips trips_pkey; Type: CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.trips
    ADD CONSTRAINT trips_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: validation_runs validation_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.validation_runs
    ADD CONSTRAINT validation_runs_pkey PRIMARY KEY (run_id);


--
-- Name: vehicle_makes vehicle_makes_name_key; Type: CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.vehicle_makes
    ADD CONSTRAINT vehicle_makes_name_key UNIQUE (name);


--
-- Name: vehicle_makes vehicle_makes_pkey; Type: CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.vehicle_makes
    ADD CONSTRAINT vehicle_makes_pkey PRIMARY KEY (id);


--
-- Name: vehicle_models vehicle_models_pkey; Type: CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.vehicle_models
    ADD CONSTRAINT vehicle_models_pkey PRIMARY KEY (id);


--
-- Name: vehicle_profiles vehicle_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.vehicle_profiles
    ADD CONSTRAINT vehicle_profiles_pkey PRIMARY KEY (car_id);


--
-- Name: vehicle_trims vehicle_trims_pkey; Type: CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.vehicle_trims
    ADD CONSTRAINT vehicle_trims_pkey PRIMARY KEY (id);


--
-- Name: idx_telemetry_session_time; Type: INDEX; Schema: public; Owner: autoXAK_user
--

CREATE INDEX idx_telemetry_session_time ON public.telemetry_points USING btree (session_id, "time" DESC);


--
-- Name: idx_trip_user_created; Type: INDEX; Schema: public; Owner: autoXAK_user
--

CREATE INDEX idx_trip_user_created ON public.trips USING btree (user_id, created_at);


--
-- Name: ix_fuel_region_brand; Type: INDEX; Schema: public; Owner: autoXAK_user
--

CREATE UNIQUE INDEX ix_fuel_region_brand ON public.fuel_regional_prices USING btree (region_code, brand);


--
-- Name: ix_fuel_regional_prices_brand; Type: INDEX; Schema: public; Owner: autoXAK_user
--

CREATE INDEX ix_fuel_regional_prices_brand ON public.fuel_regional_prices USING btree (brand);


--
-- Name: ix_fuel_regional_prices_region_code; Type: INDEX; Schema: public; Owner: autoXAK_user
--

CREATE INDEX ix_fuel_regional_prices_region_code ON public.fuel_regional_prices USING btree (region_code);


--
-- Name: ix_trips_car_id; Type: INDEX; Schema: public; Owner: autoXAK_user
--

CREATE INDEX ix_trips_car_id ON public.trips USING btree (car_id);


--
-- Name: ix_trips_created_at; Type: INDEX; Schema: public; Owner: autoXAK_user
--

CREATE INDEX ix_trips_created_at ON public.trips USING btree (created_at);


--
-- Name: ix_trips_user_id; Type: INDEX; Schema: public; Owner: autoXAK_user
--

CREATE INDEX ix_trips_user_id ON public.trips USING btree (user_id);


--
-- Name: cpa_leads cpa_leads_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.cpa_leads
    ADD CONSTRAINT cpa_leads_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: trips trips_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.trips
    ADD CONSTRAINT trips_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: vehicle_models vehicle_models_make_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.vehicle_models
    ADD CONSTRAINT vehicle_models_make_id_fkey FOREIGN KEY (make_id) REFERENCES public.vehicle_makes(id) ON DELETE CASCADE;


--
-- Name: vehicle_trims vehicle_trims_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: autoXAK_user
--

ALTER TABLE ONLY public.vehicle_trims
    ADD CONSTRAINT vehicle_trims_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.vehicle_models(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ozDRbw8RTaMmmtZn4TeINtbxFiDFBpeV2mjyorDopj3PwdVRxuXHJLC5TIbpreN

